{% extends 'base.html.twig' %}

{% block body %}

  <h1>Update User Information</h1>

{% if not user and error %}

  <div class="error">This user does not exist.</div>

{% else %}

  {% if success %}
    <div class="success">Successfully updated the user.</div>
  {% endif %}

  <form name="edit" action="{{ path('edit_user', {'id': user.id}) }}" method="post">
    <div>
      <label for="first_name">First Name</label><br />
      <input type="text" name="first_name" id="first_name" value="{{ user.firstName }}" />
    </div>

    <div>
      <label for="last_name">Last Name</label><br />
      <input type="text" name="last_name" id="last_name" value="{{ user.lastName }}" />
    </div>

    <div>
      <h2>Reset Password</h2>
    </div>
    <div>
      <label for="new_password">New Password</label><br />
      <input type="password" name="new_password" />
    </div>
    <div>
      <label for="second_password">Confirm</label><br />
      <input type="password" name="second_password" />
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>

{% endif %}
{% endblock %}
