{% extends 'base.html.twig' %}

{% block body %}

{% for flash_message in app.session.flashBag.get('error') %}
  <div class="error">
    <div>{{ flash_message }}</div>
  </div>
{% endfor %}

<form name="login" action="/users/login" method="post">
  <div>
    <label for="username">Username</label><br />
    <input type="text" name="username" />
  </div>

  <div>
    <label for="password">Password</label><br />
    <input type="password" name="password" />
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
