{% extends 'base.html.twig' %}

{% block body %}

<h1>Login</h1>

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}

<form name="login" action="{{ path('login') }}" method="post">
  <input type="hidden" name="_target_path" value="welcome" />
  <div>
    <label for="username">Username</label><br />
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
  </div>

  <div>
    <label for="password">Password</label><br />
    <input type="password" id="password" name="_password" />
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}
